.side-panel {
  background-color: #034561;
  color: white;
  width: 16rem;
  position: fixed;
  left: 0px;
  height: 100%;
  transition: left 0.5s;
}
.panel-open {
  left: 0;
}
.panel-closed {
  left: -16rem;
}
.panel-nav li {
  list-style: none;
  padding-bottom: 1rem;
}
.nav-link {
  font-weight: bold;
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}
.nav-icon {
  font-size: 1.5rem;
}
