.side-panel {
  background-color: #034561;
  color: white;
  height: 100vh;
  width: 14rem;
  padding-top: 2rem;
}
.panel-nav li {
  list-style: none;
  padding-bottom: 1rem;
}
.nav-link {
  font-weight: bold;
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}
.nav-icon {
  font-size: 1.5rem;
}
